<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <%- include('header') %>
    <p class="error">The pokemon you looked for doesn't exist, was typed wrong, or isn't available</p>
    <p class="error">Click the header to go back to homepage</p>
</body>
</html>