<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <%- include('header') %>

    <div class="wrap">
        <% for (pm of pokemon) { %>
            <a href="/pokemon/<%= pm.name %>">
                <div class="pokemon-box">
                    <p><%= pm.name.slice(0,1).toUpperCase() + pm.name.slice(1) %></p>
                </div>
            </a>
        <% } %>
    </div>
</body>
</html>